body{
  background-image: url('../images/back\ ground.jpg') ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#pos-stiky{
 /*position: fixed;*/
 width: fit-content;
 position: sticky;
top: 20px;
}
#myBtn{
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    bottom:0;
    right: 0;

}
html{
    scroll-behavior: smooth;
}


