/* div{
    background-color: red;
    align-content: center;
    text-align: center;
    position: relative;
    width: fit-content;
   
}
.div1{
    background-color: aqua;
    width: 50%;
    height: fit-content;
    block-size: fit-content;
    display: block;
    position: absolute;
    position: fixed;
    position: sticky;

}
.div2{
    background-color: rgb(184, 8, 8);
    width: 50%;
}
.div3{
    background-color: blueviolet;
    width: 50%;
}
.div4{
    background-color: yellow;
    width: 50%;
    text-decoration-line: none;
}
div div p{
    font-size: larger;
    display: inline;
    position: relative;
    right: 100px;
}
div + div{   lazim 2ly b3d el div el 2ola div tanya 
 color: brown;
}

div ~ div{ 2y div gwa el div dya 2srly 3leh 
color: aqua;
}

div:active{}
div:hover{}
 */

 h1 ~ p{
    color: brown;
    width: auto;
    padding: auto;
    margin: auto;
 }

 body {
    margin: 100px auto;
  }
  
  .parent {
    width: 500px;
    height: 10000px;
    border: 1px solid red;
    margin: auto;
    text-align: center;
    position: relative;
    
  }
  
  .child {
    border-radius: 10%;
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  
  .one {
    background-color: powderblue;

    position: absolute;
    right: 0;
  }
  
  .two {
    background-color: royalblue;
  position: absolute;
    right: 25%;
    left: 25%;
  }
  
  .three {
    background-color: sienna;
    position: sticky;
    top: 10px;
  }
  
  .four {
    background-color: slateblue;
    position: fixed;
  }
  .five {
    background-color: rgb(14, 216, 24);
     position: absolute;
     left:49%;
     right: 30%;
  }
  
  .up-button{
 background-color: aqua;
 color: brown;
 height: 100px;
 width: 100px;
 padding: 10px;
 font-weight:12px;
 position: fixed;
  }
